.Games {
    padding-top: 100px;
    text-align: center;
}

.Games h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.gameTitle {
    font-size: 1.8em;
}

.gameCarContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 17.5%;
}

.gameCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 16em;
    overflow: hidden;
    gap: 5px;
    box-shadow: 0 0 10px #c6c6c6;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.gameCard:hover {
    transform: scale(1.05);
}

.gameIcon {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    margin-top: 5%;
}

.gameCard a {
    display: flex;
    gap: 2px;
    align-items: center;
    background-color: #4f648f;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.gameCard a:hover {
    background-color: #6487ce;
}

.platformContainer {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.platformContainer img {
    width: 1.5em;
}